*.o
*~

mouseover_win32/*.dll
mouseover_win32/*.a

locale/*.qm
debug/
build/
release/
tmp/
goldendict
winlibs/lib32-48/

Makefile
Makefile.Debug
Makefile.Release

goldendict.pro.user
goldendict.pro.user.*
object_script.goldendict.Debug
object_script.goldendict.Release

version.txt

.gitattributes

/goldendict.app/
/GoldenDict.app/
*.dmg

.DS_Store
Info.plist
GoldenDict.xcodeproj/

# visual studio files
*.sdf
*.opensdf
*.suo
*.vcxproj.user
