*.o
*~

mouseover_win32/*.dll
mouseover_win32/*.a

locale/*.qm
debug/
build/
release/
goldendict

Makefile
Makefile.Debug
Makefile.Release

goldendict.pro.user
goldendict.pro.user.*
object_script.goldendict.Debug
object_script.goldendict.Release

version.txt

.gitattributes

/goldendict.app/