*.[oa]
*.dll
*~

locale/*.qm
debug/
build/
release/

Makefile
Makefile.Debug
Makefile.Release

goldendict.pro.user
goldendict.pro.user.*
object_script.goldendict.Debug
object_script.goldendict.Release

version.txt

.gitattributes
