<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIconFile</key>
	<string>@ICON@</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
    <key>CFBundleGetInfoString</key>
	<string>@SHORT_VERSION@</string>
	<key>CFBundleSignature</key>
	<string>@TYPEINFO@</string>
	<key>CFBundleExecutable</key>
	<string>@EXECUTABLE@</string>
	<key>CFBundleShortVersionString</key>
	<string>@SHORT_VERSION@</string>
	<key>CFBundleIdentifier</key>
	<string>org.goldendict</string>	
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
