MainWindow #searchPane #translateLine, MainWindow #searchPane #wordList, MainWindow #dictsPane #dictsList
{
  background: #fefdeb;
  color: black;
}

MainWindow #searchPane #translateLine[noResults="true"]
{
  background: #febb7d;
}

ArticleView #searchText[noResults="true"]
{
  background: #febb7d;
}

.ScanPopup #outerFrame
{
  border: 1px solid grey;
}


