MainWindow {
    background-color: #CFDDF0;
}

MainWindow #menubar {
    background-color: qlineargradient(x1:0, y1:0, x2:0, y2:1,
                      stop:0 #F0F6FF, stop:0.5 #D2E0F5, stop:0.9 #DCEBFF, stop:1 #F0F6FF);
}

MainWindow #menubar::item {
    padding: 2px 8px;
    background: transparent;
}

MainWindow #menubar::item:selected { /* when selected using mouse or keyboard */
    background: #839EC7;
}

MainWindow #menubar::item:pressed {
    background: #728AAD;
}

MainWindow #translateLine, ScanPopup #translateLine, MainWindow #wordList {
    background-color: #fff;
}

MainWindow #centralWidget QTabBar::tab {
    border: 1px solid #667B9B;
    border-bottom-color: #667B9B;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 1px 3px;
    margin-left: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: #CFDDF0;
    color: darkslategray;
}

MainWindow #centralWidget QTabBar::tab:selected {
    background-color: #839EC7;
    color: #fff;
    border-bottom-style: none;
}

MainWindow #dictsPane #dictsList {
   background: 	#EAF0F8; 
   color: darkblue;
}

ArticleView #searchFrame QMenu {background-color: none}
ArticleView QMenu {background-color: none} 

MainWindow #dictionaryBar QToolTip {
   background: #839EC7;
   color: white;
   border-style: none;
}

QMainWindow::separator {
     width:  1px; /* when vertical */
     height: 1px; /* when horizontal */
} 

#dictsPaneTitleBar {
  background: #A8C0E4;
  margin: 2px;
} 

/* Colored header for the History Pane */
#historyPaneTitleBar {
  background: #A8C0E4;
  margin: 2px;
} 

MainWindow #historyPane #historyList, MainWindow #favoritesPane #favoritesTree {
   background: 	#EAF0F8; 
   color: #52627C;
}

MainStatusBar #text
{
  background: #839EC7;
  color: #fff;
}

ScanPopup #outerFrame
{
   background-color: #CEDDEF;
}

ScanPopup #dictionaryBar
{
   background: #CEDDEF;
}
