MainWindow #searchPane #translateLine, MainWindow #searchPane #wordList
{
  background: #fefdeb;
}

MainWindow #centralWidget #translateLine[noResults="true"]
{
  background: #febb7d;
}

ArticleView #searchText[noResults="true"]
{
  background: #febb7d;
}

.ScanPopup #outerFrame
{
  border: 1px solid grey;
}


